#container {
    height: 80vh;
    overflow: auto;
    border: 1px solid black;
    margin-bottom: 20px;
    position: relative;
}

.resizable-box {
    border: 1px solid black;
    box-sizing: content-box;
    /* or border-box, but be consistent */

}

.circle-shape {
    border-radius: 50%;
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 5px;
    list-style: none;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu ul li {
    padding: 5px 10px;
    cursor: pointer;
}

.context-menu ul li:hover {
    background-color: #e7e7e7;
}
